# ------------------------------------------------------------------------------
# This is an example .env file.
#
# All of these environment vars must be defined either in your environment or in
# a local .env file in order to run the examples for this project.
# ------------------------------------------------------------------------------

OPENAI_API_KEY=

# Most examples will work with a free-tier index, but you'll need a paid hybrid-compatible index to run the chatbot example
PINECONE_API_KEY=
PINECONE_BASE_URL=

# Optional; only needed if using a hybrid datastore
#SPLADE_SERVICE_URL=
